.jumbotron {
  padding-top: 7rem;
  background-color: #3a89ac;
}

#Hobby {
  background-color: #3a98bd;
}

section {
  padding-top: 8rem;
}

body {
  font-family: 'Outfit', sans-serif;
}

#ach {
  background-color: #3a98bd;
  